<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Roles Admin</title>
</head>
<body>
<div align="center">
    <h1>Roles List</h1>
    <a href="/role/add">Create New Roles</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Role ID</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Description</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="role : ${listroles}">
                <td th:text="${role.role_id}">Role ID</td>
                <td th:text="${role.title}">Title</td>
                <td th:text="${role.slug}">Slug</td>
                <td th:text="${role.description}">Description </td>
                <td th:text="${role.active}">Active</td>
               
                <td>
                <a th:href="@{/edit/{role_id}(role_id=${role.role_id})}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                   <a th:href="@{/delete/{role_id}(role_id=${role.role_id})}">Delete</a>

                </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>