<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>User</title>
</head>
<body>
<div align="center">
    <h1>User List</h1>
<!--   <h2 th:text="${listuser}"></h2> -->

    <a href="/user/add">Create New user</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>User ID</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Mobile No</th>
                <th>Email Id</th>
                <th>Last Login</th>
                <th>Introduction</th>
                <th>Profile Details</th>
                <th>Action Details</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${listuser}">
                <td th:text="${user.user_id}">User ID</td>
                <td th:text="${user.first_Name}">First Name</td>
                <td th:text="${user.middle_Name}">Middle Name</td>
                <td th:text="${user.last_Name}">Last Name</td>
                <td th:text="${user.mobile}">Mobile</td>
                <td th:text="${user.email}">Email</td>
                <td th:text="${user.last_Login}">Last Login</td>
                <td th:text="${user.user_intro}">Introduction</td>
                <td th:text="${user.profiledetails}">Profile Details</td>
               
                <td>
                <a th:href="@{/edituser/{user_id}(user_id=${user.user_id})}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                   <a th:href="@{/deleteuser/{user_id}(user_id=${user.user_id})}">Delete</a>

                </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>